.large-review-card {
  background-color: #e6e0e5;
  width: 90vw;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto auto auto auto;
  gap: 2px;
}

.div1 {
  grid-row: 1;
  grid-column: 1;
}

.div2 {
  grid-row: 2;
  grid-column: 1;
}

.div2 img {
  max-width: 100%;
  height: auto;
}

.div3 {
  grid-row: 3;
  grid-column: 1;
}

.div4 {
  grid-row: 4;
  grid-column: 1;
}

.div5 {
  grid-row: 5;
  grid-column: 1;
}

.div6 {
  grid-row: 6;
  grid-column: 1;
}

.div7 {
  grid-row: 7;
  grid-column: 1;
}

@media screen and (min-width: 768px) {
  .large-review-card {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto 1fr auto auto;
  }

  .div1 {
    grid-row: 1;
    grid-column: 1 / span 2;
  }

  .div2 {
    grid-row: 2;
    grid-column: 1 / span 2;
  }

  .div3 {
    grid-row: 3;
    grid-column: 1;
  }

  .div4 {
    grid-row: 3;
    grid-column: 2;
  }

  .div5 {
    grid-row: 4;
    grid-column: 1 / span 2;
  }

  .div6 {
    grid-row: 5;
    grid-column: 1;
  }

  .div7 {
    grid-row: 5;
    grid-column: 2;
  }
}

/* .large-review-card {
  background-color: #e6e0e5;
  width: 80vw;
  padding: 4%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* display: grid;
  grid-template-columns: 0.5fr repeat(4, 1fr) 0.5fr;
  grid-template-rows: 0.5fr 1fr 0.5fr repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; */

/* 
.div1 {
  grid-area: 2 / 2 / 3 / 4;
}
.div2 {
  grid-area: 2 / 4 / 5 / 6;
}
.div3 {
  grid-area: 3 / 2 / 4 / 3;
}
.div4 {
  grid-area: 3 / 3 / 4 / 4;
}
.div5 {
  grid-area: 4 / 2 / 7 / 4;
}
.div6 {
  grid-area: 5 / 4 / 6 / 5;
}
.div7 {
  grid-area: 5 / 5 / 6 / 6;
} */

.single-review-container {
  display: flex;
  justify-content: center;
}

.review-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav-bar-box {
  color: #e6e0e5;
  background-color: #642da8;
  display: flex;
  height: 90%;
  width: auto;
  justify-content: center;
  align-items: center;
}

ul {
  font-size: x-large;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul a {
  display: block;
  background-color: #e6e0e5;
  text-decoration: none;
}

.nav-bar-box a {
  text-decoration: none;
}

.nav-bar {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  height: 500px;
}

h2 {
  color: #e6e0e5;
}

.nav-bar {
  background-color: #642da8;
}

h3 {
  color: #642da8;
}

.small-review-card {
  background-color: #e6e0e5;
  width: 40vw;
  align-items: center;
  margin: 2vw;
  padding: 2%;
}

.small-review-image {
  width: 80%;
  margin: 20px;
}

.App {
  background-color: #151321;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #63648a;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.loading-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  color: #e6e0e5;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
