.homepage-card {
  border-radius: 10px;
  background-color: #e6e0e5;
  width: 90%;
  height: auto;
  margin-inline: 5%;
}

.homepage-card p {
  padding: 15px;
}

.homepage-card h2 {
  font-size: xx-large;
  color: #151321;
  padding: 15px;
}

.error-panel {
  background-color: #e6e0e5;
  width: 90vw;
  height: 50vh;
  font-size: x-large;
  color: #151321;
}
.error-code {
  margin-block-start: 5vh;
  margin-block-end: 0px;

  color: #642da8;
  font-size: 140px;
}

.commentButton {
  width: 90%;
  height: auto;
}

.single-comment {
  margin-bottom: 10px;
  background-color: #e6e0e5;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 0.5fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.diva {
  grid-area: 1 / 1 / 2 / 13;
  padding-inline: 20px;
}
.divb {
  grid-area: 2 / 1 / 3 / 5;
}
.divc {
  grid-area: 3 / 1 / 4 / 3;
}
.divd {
  grid-area: 3 / 3 / 4 / 5;
}
.dive {
  grid-area: 2 / 5 / 4 / 13;
}

.avatar {
  width: 5%;
  height: auto;
}

.add-comment {
  width: 100%;
  margin-bottom: 10px;
  background-color: #e6e0e5;
}

.comment-button {
  color: #e6e0e5;
  background-color: #642da8;
  font-size: 35px;
}

.large-votes-comments {
  color: #642da8;
  font-size: 35px;
}
.comment-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
  margin-top: 50px;
}

.author-name {
  margin-block-start: 3px;
  margin-block-end: 5px;
  color: #151321;
  font-weight: bold;
}

.votes-and-comments {
  color: #151321;
  font-weight: 400;
}

.review-title {
  margin-block-end: 3px;
}

.icon {
  margin-bottom: 0px;
  margin-top: 0px;
}

.large-review-card {
  background-color: #e6e0e5;
  display: grid;
  width: 90vw;
  margin-top: 50px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 3fr auto auto auto;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  border-radius: 10px;
}

.div1 {
  grid-area: 1 / 1 / auto / 13;
}
.div2 {
  grid-area: 2 / 1 / auto / 13;
}
.div3 {
  grid-area: 3 / 1 / auto / 13;
}
.div4 {
  text-align: left;
  grid-area: 4 / 1 / auto / 5;
  margin-inline: 5%;
}
.div5 {
  text-align: left;
  grid-area: 4 / 5 / auto / 9;
  margin-inline: 5%;
}
.div6 {
  text-align: left;

  grid-area: 4 / 9 / auto / 13;
  margin-inline: 5%;
}
.div7 {
  grid-area: 5 / 1 / auto / 5;
}
.div8 {
  grid-area: 5 / 5 / auto / 7;
}
.div9 {
  grid-area: 5 / 7 / auto / 9;
}
.div10 {
  grid-area: 5 / 9 / auto / 13;
}
.div2 img {
  max-width: 100%;
  height: auto;
}
.div3 p {
  margin-inline: 5%;
  text-align: left;
  max-width: 1024px;
}
/* 
@media screen and (min-width: 768px) {
  .large-review-card {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto 1fr auto auto;
  }

  .div1 {
    grid-row: 1;
    grid-column: 1 / span 2;
  }

  .div2 {
    grid-row: 2;
    grid-column: 1 / span 2;
  }

  .div3 {
    grid-row: 3;
    grid-column: 1;
  }

  .div4 {
    grid-row: 3;
    grid-column: 2;
  }

  .div5 {
    grid-row: 4;
    grid-column: 1 / span 2;
  }

  .div6 {
    grid-row: 5;
    grid-column: 1;
  }

  .div7 {
    grid-row: 5;
    grid-column: 2;
  }
} */

.single-review-container {
  display: flex;
  justify-content: center;
}

.review-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav-bar-box {
  color: #e6e0e5;
  background-color: #642da8;
  display: flex;
  height: 90%;
  width: auto;
  justify-content: center;
  align-items: center;
}

ul {
  font-size: x-large;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul a {
  display: block;
  background-color: #e6e0e5;
  text-decoration: none;
}
.nav-bar-box {
  height: 60px;
}

.nav-bar-box a {
  text-decoration: none;
}

.nav-bar {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer {
  height: 500px;
}

h2 {
  color: #e6e0e5;
}

.nav-bar {
  background-color: #642da8;
}

h3 {
  font-size: 21px;
  color: #642da8;
}

h4 {
  color: #642da8;
  margin-block-start: 0.7em;
  margin-block-end: 0px;
}

.small-review-card {
  display: flex;
  flex-direction: column;
  background-color: #e6e0e5;
  width: 40vw;
  align-items: center;
  padding: 2%;
  margin: 20px;

  border-radius: 10px;
}

.small-review-image {
  width: 90%;
  margin: 20px;
  border: 2px solid #151321;
  border-radius: 10px;
}

.App {
  background-color: #151321;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #63648a;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.loading-container {
  margin-top: 10px;
  width: 100vw;
  display: flex;
  justify-content: center;
  color: #e6e0e5;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  all: unset;
  cursor: pointer;
  background-color: #e6e0e5;
  border: solid #642da8;
  height: 110px;
  width: 85%;
  border-radius: 10px;
  margin: 10px;
}

.votes {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 112.5px;
  width: 95%;
  border-radius: 10px;
  margin: 10px;
  color: #e6e0e5;
  font-size: 25px;
}

button:focus {
  outline: #151321 5px auto;
}
button:disabled {
  background-color: #63648a;
}
